/*!
* Custom style 
*
* Copyright 2018 LMS Mandiri
* by Bayu Widia Santoso, Guntur Pramono, Sumardi
*
*/

.form-group.required .control-label:after { 
     color: #d00;
     content: "*";
}

.txtErrorMessage{
	color: #d00;
}

.optionSearchBtn{
	width:100%;
	color:black;
}