<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"/> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<!-- <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  /> -->
<!-- <script th:src="@{/assets/js/jquery.2.1.1.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/moment.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script> -->
<!-- <link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css"  /> -->

<!-- <!-- <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"  /> -->
<!-- <!-- <link th:href="@{/assets/css/styleTimeline.css}" rel="stylesheet" type="text/css"  /> -->

<title>Customer Information</title>
</head>
<body class="no-skin">
	<!--/*/ <th:block th:replace="fragments/topmenu :: topmenu"></th:block> /*/-->
	
	<div class="main-container" id="main-container">
		<div class="main-content">
			<div class="main-content-inner">
				<div  style="background-color: #FDD418; height: 10px">
				</div>
				<br/>
				<div class="container-fluid">
				  <!-- Modal New Penawaran-->
				  <div class="modal fade" id="modalNewPenawaran" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 id="penawaranTitle" class="modal-title">Tambah Penawaran Baru</h4>
				        </div>
				        <div class="modal-body">
							<form id="blankResponse" name="blankResponse" th:action="@{/responseSave}" th:object="${blankResponse}" method="post">
								<input type="hidden" th:field="*{customerResponseId}" />
								<input type="hidden" th:field="*{TCpi}" />
				            <div class="form-group">
				              <label>Nama Produk</label>
				              <select class="form-control" th:field="*{TProduct1}" required>
				              <option value="">-- Pilih Produk --</option>
				                  <option th:each="TProduct1 : ${listProduk}"
				                     th:value="${TProduct1.productId}"
				                     th:utext="${TProduct1.productName}"
				                     th:class="${TProduct1.group}"
				                     />
				              </select>
				            </div>
				            <div class="form-group cHead">
				                <label>Hasil Tanggapan</label>
<!-- 				                <input type="hidden" th:field="*{responseResult}"></input> -->
								<div class="btn-group pull-right">
									<label class="btn btn-success">
									    <input type="radio" th:field="*{responseResult}" value="0" autocomplete="off" required>YA
							  		</label>
									<label class="btn btn-warning">
									  <input type="radio" th:field="*{responseResult}" value="2" autocomplete="off">To Be Follow Up
									</label>
									<label class="btn btn-danger">
									  <input type="radio" th:field="*{responseResult}" value="1" autocomplete="off">TIDAK
									</label>
								</div>
				            </div>
				            
				            <div class="panel panel-default" id="divResponseStart" class="center">
				            	<div class="panel body danger"> 
				            		<h4>Pilih Tanggapan</h4>
				            	</div>
				            </div>
				            
				            <!-- Form field yang dinamis - Start -->
				            <!-- Form YA -->
					        <div class="form-group" class="cya grCCARD grKSM">
					        	<label for="nik">NIK</label>
					        	<input type="text" class="form-control fya fCCARD fKSM" placeholder="" th:field="*{nik}" />
					        </div>
					        <div class="form-group" class="cya grAXA grCCARD">
					        	<label for="subProduct">Sub Product</label>
					        	<select class="form-control fya fAXA fCCARD" th:field="*{TProduct2}">
				              		<option value="">-- Sub Product --</option>
				              	</select>
					        </div>
					        <div class="form-group" class="cya grFUND grMNDL">
					        	<label for="account">Account</label>
					        	<input type="text" class="form-control fya fFUND fMNDL" placeholder="" th:field="*{accountNumber}" />
					        </div>
					        <div class="form-group" class="cya grMIB">
					        	<label for="companyid">Company ID</label>
					        	<input type="text" class="form-control fya fMIB" placeholder="" th:field="*{companyid}" />
					        </div>
					        <div class="form-group" class="cya grAXA">
					        	<label for="polisnumber">Polis Number</label>
					        	<input type="text" class="form-control fya fAXA" placeholder="" th:field="*{polisnumber}" />
					        </div>
					        <div class="form-group" class="cya grAXA grKSM grFUND">
					        	<label for="amount">Nominal</label>
					        	<input type="text" class="form-control fya fAXA fKSM fFUND" placeholder="" th:field="*{amount}" />
					        </div>
					        <div class="form-group" class="cya grEDC">
					        	<label for="dobisnis">Doing Bisnis As (DBA) Name</label>
					        	<input type="text" class="form-control fya fEDC" placeholder="" th:field="*{dobisnis}" />
					        </div>
					        <div class="form-group" class="cya grEDC">
					        	<label for="npwp">NPWP</label>
					        	<input type="text" class="form-control fya fEDC" placeholder="" th:field="*{npwp}" />
					        </div>
				            
				            <!-- Form Tidak dan followup/ragu2 -->
				            <div class="form-group" class="cfol ctdk">
				              <label>Alasan Nasabah</label>
				              <select class="form-control ffol ftdk" th:field="*{reason}">
<!-- 				                  <option th:each="reason : ${listReason}" -->
<!-- 				                     th:value="${reason.id}" -->
<!-- 				                     th:utext="${reason.name}"/> -->
				              </select>
				            </div>
				            <div class="form-group" class="cfol">
				              <label for="datetimepicker1">Reminder</label>
				              <div class='input-group date' id='datetimepicker1'>
				                <input type='text' class="form-control ffol" th:field="*{reminder}" />
				                <span class="input-group-addon">
				                  <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				              </div>
			 	              	<script type="text/javascript" th:inline="javascript">
			 			            $(function () {
			 			                $('#datetimepicker1').datetimepicker({
			 			                	format:'DD-MM-YY HH:mm'
			 			                });
			 			                
			 			            });
						        </script>
				            </div>
				            <div class="form-group" class="cfol ctdk">
				              <label for="email">Alamat Email</label>
				              <input type="email" class="form-control ftdk" placeholder="Enter email" th:field="*{email}" />
				            </div>
				            <div class="form-group" class="cfol ctdk grMNDL">
				              <label for="phone">Nomor HP</label>
				              <input type="text" class="form-control ftdk" placeholder="No Handphone" th:field="*{phone}"/>
				            </div>
					        
					        <div class="form-group center-block">
				            	<button type="submit" class="btn btn-lg btn-primary center-block">Submit</button>
				            </div>
				          </form>
				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
				<!-- End Modal Penawaran baru -->
				
				<!-- Modal Detail Produk -->
				<div class="container">
				  <div class="modal fade" id="modalDetail" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Detail Produk</h4>
				        </div>
				        <div id="modalDetailBody" class="modal-body">
				          
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>
			  	</div>
			  	<!-- End Modal Detail Produk -->
			
				<div class="container">
				  <!--Outer-->
				  <div class="row">
				  	<!--Left Side-->
				  	<div class="col-sm-8">
				    	<!--Left Top - Customer Information-->
				    	<div class="panel panel-default">
				        	<div class="panel-body col-sm">
				        		<table class="table table-hover" th:object="${customer}">
								    <tr>
								      <td class="col-md-2">Nama</td>
								      <td class="col-md-1">:</td>
								      <td class="col-md-10" th:text="${customer.name}"></td>
								    </tr>
								    <tr th:switch="${customer.gender}">
								      <td>Jenis Kelamin</td>
								      <td>:</td>
								      <td th:case="'P'">Perempuan</td>
								      <td th:case="'L'">Laki-laki</td>
								      <td th:case="'F'">Perempuan</td>
								      <td th:case="'M'">Laki-laki</td>
								      <td th:case="'*'"></td>
								    </tr>
								    <tr>
								      <td>No CIF</td>
								      <td>:</td>
								      <td th:text="${customer.cif}"></td>
								    </tr>
								    <tr>
								      <td>NIK</td>
								      <td>:</td>
								      <td th:text="${customer.nik}"></td>
								    </tr>
								    <tr>
								      <td>Tempat/Tanggal Lahir</td>
								      <td>:</td>
								      <td th:text="${customer.birthPlace} +'/' + ${customer.birthDate}"></td>
								    </tr>
								    <tr>
								      <td>Alamat</td>
								      <td>:</td>
								      <td th:text="${customer.address}"></td>
								    </tr>
								    <tr>
								      <td>Nomor Telepon</td>
								      <td>:</td>
								      <td th:text="${customer.hp}"></td>
								    </tr>
								</table>
				        	</div>
				        </div>
				        <!--Left Mid - Customer Product and offer-->
				        <div class="panel panel-default">
				        	<div class="panel-body col-sm">
				        		<ul class="nav nav-tabs">
								  <li class="active"><a data-toggle="tab" href="#newProduct">Produk yang ditawarkan</a></li>
								  <li><a data-toggle="tab" href="#offered">Produk yang sudah pernah ditawarakan</a></li>
								  <li><a data-toggle="tab" href="#owned">Produk yang dimiliki</a></li>
								</ul>
								
								<div class="tab-content">
								  <div id="newProduct" class="tab-pane fade in active">
								  	<table class="table">
									    <tbody>
									      <tr th:each="newoffer : ${listNewOffer}">
									        <td class="col-md-2 well well-sm text-center">
									        	<span class="" th:text="${newoffer.TProduct.productName}"></span>
									        </td>
									        <td class="col-md-1">
									        	<button th:onclick="|showDetailProduct('${newoffer.TProduct.productId}')|" th:id="'btnDetail_'+${newoffer.TProduct.productId}" type="button" class="btn btn-warning"  data-toggle="modal" data-target="#modalDetail">Detail</button>
									        	<button th:onclick="|showResponseTangggapan('${newoffer.TProduct.productId}', 1)|" th:id="'btnResponse_'+${newoffer.TProduct.productId}" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modalNewPenawaran">Tanggapan</button>
									       	</td>
									      </tr>
									    </tbody>
									  </table>
								  </div>
								  <div id="offered" class="tab-pane fade">
								  	<table class="table table-bordered">
									    <thead class="bg-info text-white">
									      <tr>
									        <th class="col-md-1">No.</th>
									        <th class="col-md-3">Tanggal offer</th>
									        <th class="col-md-3">Nama Produk</th>
									        <!-- <th class="col-md-3">Status</th> -->
									        <th class="col-md-3">Alasan</th>
									      </tr>
									    </thead>
									    <tbody>
			<!-- 						      <tr th:each="offered, iterationStatus : ${offered}"> -->
			<!-- 						        <td th:text="${iterationStatus.count}">1</td> -->
			<!-- 						        <td th:text="${offered.createdon}"></td> -->
			<!-- 						        <td th:text="${offered.product.name}"></td> -->
			<!-- 						        <td th:text="${offered.status}"></td> -->
			<!-- 						        <td th:text="${offered.tanggapan}"></td> -->
			<!-- 						      </tr> -->
									    </tbody>
									  </table>
								  </div>
								  <div id="owned" class="tab-pane fade">
								    <table class="table table-bordered">
									    <thead class="bg-primary text-white">
									      <tr>
									        <th class="col-md-1">No.</th>
									        <th class="col-md-3">Nama Produk</th>
									        <th class="col-md-3">Nomor Rekening</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr th:each="owned, iterationStatus : ${listOwned}">
									        <td th:text="${iterationStatus.count}">1</td>
									        <td th:text="${owned.TProduct.productName}"></td>
									        <td th:text="${owned.accountNumber}"></td>
									      </tr>
									    </tbody>
									  </table>
								  </div>
								</div>
								
				        	</div>
				        </div>
				        <!-- Lef bottom - Add new campaign -->
				        <div class="panel panel-default">
				        	<div class="col-sm">
				        		<button id="btnPenawaranTambah" type="button" class="btn btn-info btn-block btn-sm" data-toggle="modal" data-target="#modalNewPenawaran">
						          <span class="glyphicon glyphicon-plus"></span>Tambah penawaran baru
						        </button>
				        	</div>
				        </div>
				        
				    </div>
				    <!--Rigth Side - Customer Activities-->
				    <div class="panel panel-default col-sm-4">
				    	<div class="panel-body">Aktivitas Customer</div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<Script type="text/javascript" th:inline="javascript">
	
	//on new penawaran
	function resetResponseTotal(){
		resetResponseLevel2();
		$("#blankResponse")[0].reset();
		$('#divResponseStart').show();
	}
	//onChange product
	function resetResponseLevel2(){
		$('[name="responseResult"]').prop('checked',false);
		resetResponseLevel1();
		$('#divResponseStart').hide();
	}
	//onchange response result
	function resetResponseLevel1(){
		$('.cfol').hide();
		$('.ctdk').hide();
		$('.cya').hide();
		
 		$('.ffol').val('');
 		$('.ftdk').val('');
 		$('.fya').val('');
 		
 		$('.ffol').removeAttr('required');
 		$('.ftdk').removeAttr('required');
 		$('.fya').removeAttr('required');
 		$('#divResponseStart').hide();
	}

	//Show popup detail
	function showDetailProduct(id){
		$.ajax({
		      url: '/getDetailProduct?id='+id,
		      type: 'get',
		      success: function(response) {
		    	  $("#modalDetailBody").html(response);
		      },
		      error: function(e){
	              alert(e.responseText);
	          }
		  });
	};
	
	//show Response form with product already selected
	function showResponseTangggapan(id, type){
		resetResponseLevel2();
		$('#divResponseStart').hide();
		$('#penawaranTitle').html('Tanggapan Customer('+ id + ')');
		$('#TProduct1').val(id);
		$('#TProduct1').trigger("change");
	};

	//Event button tambah penawaran baru
	$('#btnPenawaranTambah').click(function(){
		resetResponseTotal();
		$('#penawaranTitle').html('Tambah Penawaran Baru');
	});
	
	//populate combo box reason on product change
	$('#TProduct1').change(function(){
		resetResponseLevel2();
		$('#divResponseStart').show();
	});
	
	//Event Response Result Radio button onchange
	$('[name="responseResult"]').on('change', function(e){
		resetResponseLevel1();
		
		filterFormField(this.value);
	})
	
	//Load select option on reason combo box 
	function getReasonList(p_group){		
		$.ajax({
		      url: '/getReasonList?productGroup='+p_group,
		      type: 'get',
		      success: function(reasonData) {
		    	  	var html = '<option value="">--Pilih Reason--</option>';
	                var len = reasonData.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + reasonData[i].id + '">'
	                            + reasonData[i].name + '</option>';
	                }
	                html += '</option>';
	                $('#reason').html(html);
		      },
		      error: function(e){
	              alert(e.responseText);
	          }
		  });
	}
	
	//Show hide form field
	function filterFormField(responseValue){
		var p_group = $('option:selected', '#TProduct1').attr('class');
		//Ragu-ragu - follow up
		if(responseValue == '2'){
			getReasonList('DOUBT');
			$('.cfol').show();
			$('ffol').attr('required', true);
		}
		//Tidak
		else if(responseValue == '1'){
			getReasonList(p_group);
			$('.ctdk').show();
			$('.ftdk').attr('required', true);
		}
		//YA
		else if(responseValue == '0'){
			$('.gr'+p_group).show();
			$('f'+p_group).attr('required', true);
			
		}
	}
	
	
	$(document).ready(function(){
		var $form = $('#blankResponse');
		  $form.on('submit', function(e) {
		    e.preventDefault();
		    $.ajax({
		      url: $form.attr('action'),
		      type: 'post',
		      data: $form.serialize(),
		      success: function(response) {
		    	  alert(response);
		      },
		    	error: function(e) {
		        	alert(e.responseText);
		      }
		  });
		});
		
	  var $dp = $('#datetimepicker1').data("DateTimePicker");

	  $('#datetimepicker1').on('dp.change', function (e) {
	  	//$("#reminderon").val(e.date.unix());
	  	//$("#reminderon").val(e);
 		//alert(e.date.unix());
	  });
	  
	});
</Script>