<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"/> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<!-- <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  /> -->
<!-- <script th:src="@{/assets/js/jquery.2.1.1.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/moment.min.js}"></script> -->
<!-- <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script> -->
<!-- <link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css"  /> -->

<!-- <!-- <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"  /> -->
<!-- <!-- <link th:href="@{/assets/css/styleTimeline.css}" rel="stylesheet" type="text/css"  /> -->

<title>Customer Information</title>
</head>
<body class="no-skin">
	<!--/*/ <th:block th:replace="fragments/topmenu :: topmenu"></th:block> /*/-->
	
	<div class="main-container" id="main-container">
		<div class="main-content">
			<div class="main-content-inner">
				<div  style="background-color: #FDD418; height: 10px">
				</div>
				<br/>
				<div class="container-fluid">
				  <!-- Modal New Penawaran-->
				  <div class="modal fade" id="modalNewPenawaran" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 id="penawaranTitle" class="modal-title">Tambah Penawaran Baru</h4>
				        </div>
				        <div class="modal-body">
							<form id="blankResponse" name="blankResponse" th:action="@{/responseSave}" th:object="${blankResponse}" method="post">
								<input type="hidden" th:field="*{customerResponseId}" />
								<input type="hidden" th:field="*{TCpi.cif}" />
								<input type="hidden" th:field="*{TOffer.id}" class="TOffer_id" />
								
								<div class="form-group required">
					              <label class="control-label">Product Group</label>
					              <select class="form-control" id="pgroup" required>
					              <option value="">-- Pilih Group --</option>
					                  <option th:each="pgroup : ${listGroupProduct}"
					                     th:value="${pgroup.id}"
					                     th:utext="${pgroup.name}"
					                     />
					              </select>
					            </div>
								
					            <div class="form-group required">
					              <label class="control-label">Nama Produk</label>
					              <select class="form-control" th:field="*{TProduct1}" required>
<!-- 					              <option value="">-- Pilih Produk --</option> -->
<!-- 					                  <option th:each="TProduct1 : ${listProduk}" -->
<!-- 					                     th:value="${TProduct1.productId}" -->
<!-- 					                     th:utext="${TProduct1.productName}" -->
<!-- 					                     th:class="${TProduct1.group}" -->
<!-- 					                     /> -->
					              </select>
					            </div>
					            <div class="form-group required">
					              <label class="control-label">Program</label>
					              <select class="form-control" th:field="*{program}" required></select>
					            </div>
					            
					            <div class="form-group required cHead">
					                <label class="control-label">Hasil Tanggapan</label>
	<!-- 				                <input type="hidden" th:field="*{responseResult}"></input> -->
									<div class="btn-group pull-right">
										<label class="btn btn-success">
										    <input type="radio" th:field="*{responseResult}" value="0" autocomplete="off" required>YA
								  		</label>
										<label class="btn btn-warning">
										  <input type="radio" th:field="*{responseResult}" value="2" autocomplete="off">To Be Follow Up
										</label>
										<label class="btn btn-danger">
										  <input type="radio" th:field="*{responseResult}" value="1" autocomplete="off">TIDAK
										</label>
									</div>
					            </div>
					            
					            <div class="panel panel-default" id="divResponseStart" class="center">
					            	<div class="panel-body danger"> 
					            		<h4>Pilih Produk dan Tanggapan</h4>
					            	</div>
					            </div>
					            
					            <!-- Form field yang dinamis - Start -->
					            <!-- Form YA -->
						        <div class="form-group required cya grnik">
						        	<label class="control-label" for="nik">NIK</label>
						        	<input type="text" class="form-control fya fnik" placeholder="" th:field="*{nik}" />
						        </div>
						        <div class="form-group required cya graccountno">
						        	<label class="control-label" for="account">Account</label>
						        	<input type="text" class="form-control fya faccountno" placeholder="" th:field="*{accountNumber}" />
						        </div>
						        <div class="form-group required cya grcompanyid">
						        	<label class="control-label" for="companyid">Company ID</label>
						        	<input type="text" class="form-control fya fcompanyid" placeholder="" th:field="*{companyid}" />
						        </div>
						        <div class="form-group required cya ">
						        	<label class="control-label" for="polisnumber">Polis Number</label>
						        	<input type="text" class="form-control fya" placeholder="" th:field="*{polisnumber}" />
						        </div>
						        <div class="form-group required cya  ">
						        	<label class="control-label" for="amount">Nominal</label>
						        	<input type="text" class="form-control fya" placeholder="" th:field="*{amount}" />
						        </div>
						        <div class="form-group required cya ">
						        	<label class="control-label" for="dobisnis">Doing Bisnis As (DBA) Name</label>
						        	<input type="text" class="form-control fya" placeholder="" th:field="*{dobisnis}" />
						        </div>
						        <div class="form-group required cya ">
						        	<label class="control-label" for="npwp">NPWP</label>
						        	<input type="text" class="form-control fya" placeholder="" th:field="*{npwp}" />
						        </div>
						        
						        <div class="form-group required cya grcardno">
						        	<label class="control-label" for="npwp">Nomor Kartu</label>
						        	<input type="text" class="form-control fya fcardno" placeholder="" th:field="*{cardno}" />
						        </div>
						        <div class="form-group required cya grembosedt">
						        	<label class="control-label" for="npwp">Embose DT</label>
						        	<input type="text" class="form-control fya fembosedt" placeholder="" th:field="*{emboseDt}" />
						        </div>
						        <div class="form-group required cya grssid">
						        	<label class="control-label" for="npwp">SSID</label>
						        	<input type="text" class="form-control fya fssid" placeholder="" th:field="*{ssid}" />
						        </div>
					            
					            <!-- Form Tidak dan followup/ragu2 -->
					            <div class="form-group required cfol ctdk">
					              <label class="control-label">Alasan Nasabah</label>
					              <select class="form-control ffol ftdk" th:field="*{reason}">
										
					              </select>
					            </div>
					            <div class="form-group required cfol">
					              <label class="control-label" for="datetimepicker1">Reminder</label>
					              <div class='input-group date' id='datetimepicker1'>
					                <input type='text' class="form-control ffol" th:field="*{reminder}" />
					                <span class="input-group-addon">
					                  <span class="glyphicon glyphicon-calendar"></span>
					                </span>
					              </div>
				 	              	<script type="text/javascript" th:inline="javascript">
				 			            $(function () {
				 			                $('#datetimepicker1').datetimepicker({
				 			                	format:'DD-MM-YY HH:mm'
				 			                });
				 			                
				 			            });
							        </script>
					            </div>
					            <div class="form-group required cfol ctdk">
					              <label class="control-label" for="email">Alamat Email</label>
					              <input type="email" class="form-control ftdk" placeholder="Enter email" th:field="*{email}" />
					            </div>
					            <div class="form-group required cfol ctdk">
					              <label class="control-label" for="phone">Nomor HP</label>
					              <input type="text" class="form-control ftdk" placeholder="No Handphone" th:field="*{phone}"/>
					            </div>
						        
						        <div class="panel">
					            	<div id="divErrorMessage" class="txtErrorMessage"> 
	
					            	</div>
					            </div>
						        
						        <div class="form-group center-block">
					            	<button type="submit" class="btn btn-lg btn-primary center-block">Submit</button>
					            </div>
				          </form>
				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
				<!-- End Modal Penawaran baru -->
				
				<!-- Modal Detail Produk -->
				<div class="container">
				  <div class="modal fade" id="modalDetail" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Detail Produk</h4>
				        </div>
				        <div id="modalDetailBody" class="modal-body">
				          
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>
			  	</div>
			  	<!-- End Modal Detail Produk -->
			
				<div class="container">
				  <!--Outer-->
				  <div class="row">
				  	<!--Left Side-->
				  	<div class="col-sm-8">
				    	<!--Left Top - Customer Information-->
				    	<div class="panel panel-default">
				        	<div class="panel-body col-sm">
				        		<table class="table table-hover" th:object="${customer}">
								    <tr>
								      <td class="col-md-2">Nama</td>
								      <td class="col-md-1">:</td>
								      <td class="col-md-10" th:text="${customer.name}"></td>
								    </tr>
								    <tr th:switch="${customer.gender}">
								      <td>Jenis Kelamin</td>
								      <td>:</td>
								      <td th:case="'P'">Perempuan</td>
								      <td th:case="'L'">Laki-laki</td>
								      <td th:case="'F'">Perempuan</td>
								      <td th:case="'M'">Laki-laki</td>
								      <td th:case="'*'"></td>
								    </tr>
								    <tr>
								      <td>No CIF</td>
								      <td>:</td>
								      <td th:text="${customer.cif}"></td>
								    </tr>
								    <tr>
								      <td>NIK</td>
								      <td>:</td>
								      <td th:text="${customer.nik}"></td>
								    </tr>
								    <tr>
								      <td>Tempat / Tanggal Lahir</td>
								      <td>:</td>
								      <td th:text="${customer.birthPlace} +' / ' + ${#dates.format(customer.birthDate, 'dd MMMM yyyy')}"></td>
								    </tr>
								    <tr>
								      <td>Alamat</td>
								      <td>:</td>
								      <td th:text="${customer.address}"></td>
								    </tr>
								    <tr>
								      <td>Nomor Telepon</td>
								      <td>:</td>
								      <td th:text="${customer.hp}"></td>
								    </tr>
								</table>
				        	</div>
				        </div>
				        <!--Left Mid - Customer Product and offer-->
				        <div class="panel panel-default">
				        	<div class="panel-body col-sm">
				        		<ul class="nav nav-tabs">
								  <li class="active"><a data-toggle="tab" href="#newProduct">Produk yang ditawarkan</a></li>
								  <li><a data-toggle="tab" href="#offered">Produk yang sudah pernah ditawarakan</a></li>
								  <li><a data-toggle="tab" href="#owned">Produk yang dimiliki</a></li>
								</ul>
								
								<div class="tab-content">
								  <div id="newProduct" class="tab-pane fade in active">
								  	<table class="table">
									    <tbody>
									      <tr th:each="newoffer : ${listNewOffer}">
									        <td class="col-md-2">
									        	<input type="text" class="form-control text-center" th:value="${newoffer.program.TProduct.productName} +' ('+${newoffer.program.name} + ')'" readonly />
<!-- 									        	<em class="text-center" th:text="${newoffer.program.name}"/> -->
									        </td>
									        <td class="col-md-1">
									        	<button th:onclick="|getScriptCpo('${newoffer.cpoId}')|" th:id="'btnDetail_'+${newoffer.script}" type="button" class="btn btn-warning"  data-toggle="modal" data-target="#modalDetail">Detail</button>
									        	<button th:onclick="|showResponseTanggapan('${newoffer.cpoId}', '${newoffer.program.TProduct.groupProduct.id}', '${newoffer.program.TProduct.productId}', '${newoffer.program.TProduct.productName}', '${newoffer.program.id}', '${newoffer.program.name}')|" th:id="'btnResponse_'+${newoffer.program.TProduct.productId}" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modalNewPenawaran">Tanggapan</button>
									       	</td>
									      </tr>
									    </tbody>
									  </table>
								  </div>
								  <div id="offered" class="tab-pane fade">
								  	<table class="table table-bordered">
									    <thead class="bg-info text-white">
									      <tr>
									        <th class="col-md-1">No.</th>
									        <th class="col-md-3">Nama Produk</th>
									        <th class="col-md-3">Tanggal offer</th>
									        <th class="col-md-3">Status</th>
<!-- 									        <th class="col-md-3">Alasan</th> -->
									      </tr>
									    </thead>
									    <tbody>
									      <tr th:each="offer, iterationStatus : ${listOffer}">
									        <td th:text="${iterationStatus.count}">1</td>
   									        <td th:text="${offer.program.TProduct.productName}+' ('+${offer.program.name} +')'"></td>
									        <td th:text="${#dates.format(offer.createdon, 'dd MMMM yyyy')}"></td>
									        <td th:switch="${offer.status}">
									        	<span th:case="'0'">Ya</span>
									        	<span th:case="'1'">Tidak</span>
									        	<span th:case="'2'">To Be Follow Up</span>
									        	<span th:case="'*'"></span>
									        </td>
<!-- 									        <td th:text="${offer.tanggapan}"></td> -->
									      </tr>
									    </tbody>
									  </table>
								  </div>
								  <div id="owned" class="tab-pane fade">
								    <table class="table table-bordered">
									    <thead class="bg-primary text-white">
									      <tr>
									        <th class="col-md-1">No.</th>
									        <th class="col-md-3">Nama Produk</th>
									        <th class="col-md-3">Nomor Rekening</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr th:each="owned, iterationStatus : ${listOwned}">
									        <td th:text="${iterationStatus.count}">1</td>
									        <td th:text="${owned.TProduct.productName}"></td>
									        <td th:text="${owned.accountNumber}"></td>
									      </tr>
									    </tbody>
									  </table>
								  </div>
								</div>
								
				        	</div>
				        </div>
				        <!-- Lef bottom - Add new campaign -->
				        <div class="panel panel-default">
				        	<div class="col-sm">
				        		<button id="btnPenawaranTambah" type="button" class="btn btn-info btn-block btn-sm" data-toggle="modal" data-target="#modalNewPenawaran">
						          <span class="glyphicon glyphicon-plus"></span>Tambah penawaran baru
						        </button>
				        	</div>
				        </div>
				        
				    </div>
				    <!--Rigth Side - Customer Activities-->
				    <div class="panel panel-default col-sm-4">
				    	<div class="panel-body">Aktivitas Customer</div>
				    	<!--Start-->
				    	<div th:each="response : ${listResponse}">
					    	<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-primary no-hover"></i>
								</div>
	
								<div class="widget-box widget-color-blue">
									<div class="widget-header widget-header-small">
										<h5 class="widget-title smaller" th:text="${#dates.dayOfWeekName(response.createdon)}"></h5>
										<span class="widget-toolbar no-border">
											<i class="ace-icon fa fa-clock-o bigger-110"></i>
											<span th:text="${#dates.format(response.createdon, 'dd MMMM yyyy HH:mm')}"></span>
										</span>
									</div>
	
									<div class="widget-body">
										<div class="widget-main">
											<b>Produk</b> <span class="green bolder" th:text="${response.program.TProduct.productName} +' ('+${response.program.name} + ')'"></span>
											<br />
											<b>Tanggapan : </b> 
											<span class="Red bolder" th:switch="${response.responseResult}">
									        	<span th:case="'0'">Ya</span>
									        	<span th:case="'1'">Tidak</span>
									        	<span th:case="'2'">To Be Follow Up</span>
									        	<span th:case="'*'"></span>
											</span>
											<br />
											<b>Oleh : </b> <span class="Warning bolder" th:text="${response.userprofile1.name}"></span>
											<br />
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End -->
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<Script type="text/javascript">
	
	//on new penawaran
	function resetResponseTotal(){
		clearSelectList('#TProduct1');
		clearSelectList('#program');
		resetResponseLevel2();
		$("#blankResponse")[0].reset();
		$('#divResponseStart').show();
	}
	//onChange product
	function resetResponseLevel2(){
		$('[name="responseResult"]').prop('checked',false);
		resetResponseLevel1();
		$('#divResponseStart').hide();
		$('#divErrorMessage').html('');
	}
	//onchange response result
	function resetResponseLevel1(){
		$('.cfol').hide();
		$('.ctdk').hide();
		$('.cya').hide();
		
 		$('.ffol').val('');
 		$('.ftdk').val('');
 		$('.fya').val('');
 		
 		$('.ffol').removeAttr('required');
 		$('.ftdk').removeAttr('required');
 		$('.fya').removeAttr('required');
 		$('#divResponseStart').hide();
	}

	//Show popup detail
	function showDetailProduct(id){
		$.ajax({
		      url: '/getDetailProduct?id='+id,
		      type: 'get',
		      success: function(response) {
		    	  $("#modalDetailBody").html(response);
		      },
		      error: function(e){
	              alert(e.responseText);
	          }
		  });
	};
	
	//Show popup detail
	function getScriptCpo(id){
		$.ajax({
		      url: '/getScriptCpo?id='+id,
		      type: 'get',
		      success: function(response) {
		    	  $("#modalDetailBody").html(response);
		      },
		      error: function(e){
	              alert(e.responseText);
	          }
		  });
	};
	
	//show Response form with product already selected
	function showResponseTanggapan(cpoid, groupid, produkid, produkname, programid, programname){
 		//alert('group '+ groupid +' produk'+ produkid + 'program' + programid);
 		$("input[id='TOffer.id']").val(cpoid);
 		
		resetResponseLevel2();
		$('#divResponseStart').hide();
		$('#penawaranTitle').html('Tanggapan Customer('+ produkname + ')');
		
		$('#pgroup').val(groupid);
		setSelectList('#TProduct1', produkid, produkname);
		setSelectList('#program', programid, programname);
	};
	
	//Event button tambah penawaran baru
	$('#btnPenawaranTambah').click(function(){
		$("input[id='TOffer.id']").val('');
		resetResponseTotal();
		$('#penawaranTitle').html('Tambah Penawaran Baru');
	});
	
	//Populate combo box product
	$('#pgroup').change(function(){
		clearSelectList('#program');
		resetResponseLevel2();
		$('#program').val('');
		$('#divResponseStart').show();
		getProductbyGroup(this.value);
	});
	
	//populate combo box reason on product change - product combo box change - product select change
	$('#TProduct1').change(function(){
		resetResponseLevel2();
		$('#divResponseStart').show();
		getSelectOption('#program', '/getProgrambyProduct?productid='+this.value, 'Program');
	});
	
	$('#program').change(function(){
		resetResponseLevel2();
		$('#divResponseStart').show();
	});
	
	//Event Response Result Radio button onchange
	$('[name="responseResult"]').on('change', function(e){
		resetResponseLevel1();
		
		filterFormField(this.value);
	})
	
	//Check if Product already selected or not
	$('[name="responseResult"]').on('click', function(e){
		if($('option:selected', '#pgroup').val() == ''){
			$('#divErrorMessage').html('*Group Produk belum dipilih');
			e.preventDefault();
		}
		else if($('option:selected', '#TProduct1').val() == ''){
			$('#divErrorMessage').html('*Produk belum dipilih');
			e.preventDefault();
		}
		else if($('option:selected', '#program').val() == ''){
			$('#divErrorMessage').html('*Program belum dipilih');
			e.preventDefault();
		}
	})
	
	function setSelectList(selectid, id, name){
		var html = '<option value="' + id + '" selected="selected" >' + name + '</option>';
		$(selectid).html(html);
	}
	
	function clearSelectList(selectid){
		var html = '';
		$(selectid).html(html);
	}
	
	function getSelectOption(selectid, url, label){
		$.ajax({
		      url: url,
		      type: 'get',
		      success: function(selectData) {
		    	  	var html = '<option value="">--Pilih '+label+'--</option>';
	                var len = selectData.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + selectData[i].id + '">'
	                            + selectData[i].name + '</option>';
	                }
// 	                html += '</option>';
	                $(selectid).html(html);
		      },
		      error: function(e){
	              alert(e.responseText);
	          }
		  });
	}
	
	function getProductbyGroup(groupproductid){
		$.ajax({
		      url: '/getProductbyGroup?groupproductid='+groupproductid,
		      type: 'get',
		      success: function(data) {
		    	  	var html = '<option value="">--Pilih Produk--</option>';
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].productId + '">'
	                            + data[i].productName + '</option>';
	                }
	                html += '</option>';
	                $('#TProduct1').html(html);
		      },
		      error: function(e){
	              alert('error' + e.responseText);
	          }
		  });
	}
	
	//get showing form field
	function getKeytracking(){
		var programid = $('#program').val();
		$.ajax({
		      //url: '/getKeytrackingbyProgram?programid='+programid,
    		  url: '/getKeytrackingbyProgram?programid='+programid,
		      type: 'get',
		      success: function(data) {
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                	$('.gr'+data[i].inputClass).show();
						$('.f'+data[i].inputClass).attr('required', true);
	                }
		      },
		      error: function(e){
	              alert('error' + e.responseText);
	          }
		  });
	}
	
	//Show hide form field
	function filterFormField(responseValue){
		var p_group = $('option:selected', '#TProduct1').attr('class');
		//Ragu-ragu - follow up
		if(responseValue == '2'){
			getSelectOption('#reason', '/getReasonList?productGroup=DOUBT', 'Reason');
			$('.cfol').show();
			$('ffol').attr('required', true);
		}
		//Tidak
		else if(responseValue == '1'){
			//getSelectOption('#reason', '/getReasonList?productGroup='+p_group, 'Reason');
			getSelectOption('#reason', '/getReasonList?productGroup=DOUBT', 'Reason');
			$('.ctdk').show();
			$('.ftdk').attr('required', true);
		}
		//YA
		else if(responseValue == '0'){
			//$('.gr'+p_group).show();
			//$('.f'+p_group).attr('required', true);
			getKeytracking();
		}
	}
	
	
	$(document).ready(function(){
		var $form = $('#blankResponse');
		  $form.on('submit', function(e) {
		    e.preventDefault();
		    $.ajax({
		      url: $form.attr('action'),
		      type: 'post',
		      data: $form.serialize(),
		      success: function(response) {
		    	  alert(response);
		    	  location.reload();
		      },
		    	error: function(e) {
		        	alert(e.responseText);
		      }
		  });
		});
		
	  var $dp = $('#datetimepicker1').data("DateTimePicker");

	  $('#datetimepicker1').on('dp.change', function (e) {
	  	//$("#reminderon").val(e.date.unix());
	  	//$("#reminderon").val(e);
 		//alert(e.date.unix());
	  });
	  
	});
</Script>