<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>

<body class="no-skin">
	<!--/*/ <th:block th:replace="fragments/topmenu :: topmenu"></th:block> /*/-->
	
	<div class="main-container" id="main-container">
		<div class="main-content">
			<div class="main-content-inner">
				<div  style="background-color: #FDD418; height: 10px">
				</div>
				<div class="page-content">
					<div class="page-header">
						<h1>
							DASHBOARD PAGE
						</h1>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-block alert-success alert-dismissable" th:if="${messageDataSimpan}">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<h4 class="alert-heading">Success!</h4>
								<p th:text="${messageDataSimpan}"></p>
							</div>
						</div>
					</div>
					<!-- /.page-header -->
				
					<div class="row">
						<div class="col-xs-12">
							<div class="widget-box" style="color: #DDEEEE; border-radius: 2px" th:if="${userActivityRight} != empty">
								<div class="widget-body">
									<div class="widget-main">
										<form class="form-search" th:action="@{/dashboard-search}"
										th:object="${dashboardFilter}" method="POST">
											<div class="row">
												<div class="col-xs-12 col-sm-10">
													<div class="input-group">
														<input type="text" placeholder="Cari No.Kartu,NIK,Telp,CIF,Nama,No.Rekening..."  class="form-control search-query" th:field="*{pencarian}" required="required"/>
														<select class="form-control kategori_hidden" id="form-field-select-1" th:field="*{kategori}" hidden="true">
															<option value="NIK" id="flag_nik">NIK</option>
															<option value="PHONE" id="flag_phone">No Telp</option>
															<option value="CIF" id="flag_cif">CIF</option>
															<option value="NAME" id="flag_name">NAMA</option>
															<option value="NOREK" id="flag_norek">NO REKENING</option>
															<option value="NOKAR" id="flag_nokar">NO KARTU</option>
														</select>
														
														<span class="input-group-btn">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-purple btn-sm btn-outline-secondary dropdown-toggle">
																<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
																Cari
															</button>
															<div class="dropdown-menu">
														      <button type="submit" class="dropdown-item btn_norek" style="margin-left:8%; color:black">
														      	<i class="ace-icon fa fa-credit-card"></i>
														      	NO REKENING
														      </button><br/>
														      <button type="submit" class="dropdown-item btn_nik" style="margin-left:8%; color:black">
														      	<i class="ace-icon fa fa-pencil-square-o"></i>
														      	NIK
														      </button><br/>
														      <button type="submit" class="dropdown-item btn_phone" style="margin-left:8%; color:black">
														      	<i class="ace-icon fa fa-phone"></i>
														      	No Telp
														      </button><br/>
														      <button type="submit" class="dropdown-item btn_cif" style="margin-left:8%; color:black">
														      	<i class="ace-icon fa fa-eye"></i>
														      	CIF
														      </button><br/>
														      <button type="submit" class="dropdown-item btn_name" style="margin-left:8%; color:black">
														      	<i class="ace-icon glyphicon glyphicon-user"></i>
														      	NAMA
														      </button><br/>
														      <button type="submit" class="dropdown-item btn_nokar" style="margin-left:8%; color:black">
														      	<i class="ace-icon fa fa-credit-card"></i>
														     	NO KARTU
														     </button><br/>
														    </div>
														</span>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12 col-sm-8 widget-container-col">
							<!-- PAGE CONTENT BEGINS -->
							<div id="timeline-2">
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1">
										<div class="timeline-container timeline-style2">
											<div class="widget-box" style="color: #DDEEEE; border-radius: 5px" th:if="${userActivityRight} != empty">
												<label style="padding-left:3%"><b style="color: #276BA6"><h3>Timeline Aktivitas</h3></b></label>
											</div>
											<br>
											<div class="row">
												<div class="col-xs-12">
													<div class="alert alert-block alert-warning alert-dismissable" th:if="${userActivityRight} == empty">
														<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
														<h4 class="alert-heading">Belum ada data yang anda cari</h4>
														<p ></p>
													</div>
												</div>
											</div>

											<div class="timeline-item clearfix" th:each="userActivityRight : ${listUserActivityRights}">
												<div class="timeline-info">
													<span class="timeline-date" th:text="${userActivityRight.createdon}"></span>

													<i class="timeline-indicator btn btn-success no-hover"></i>
												</div>

												<div class="widget-box transparent">
													<div class="widget-body">
														<div class="widget-main no-padding">
															<span class="red bolder" th:text="${userActivityRight.day}"></span>
															<br />
															<a th:if="${userActivityRight.infoCifTemp} != 'null'" th:href="@{'/customer-edit-all/' + ${userActivityRight.infoCifTemp}}">
															<label th:text="${userActivityRight.info}"></label>
															</a>
															<label th:if="${userActivityRight.infoCifTemp} == 'null'" th:text="${userActivityRight.info}"></label>
															
														</div>
													</div>
												</div>
											</div>
											<!-- /.timeline-items -->
										</div>
										<!-- /.timeline-container -->
									</div>
								</div>
							</div>
							<!-- PAGE CONTENT ENDS -->
							<br>
							<!-- <div class="inline middle blue bigger-110" style="padding-left: 50%">Loading Data ...</div> -->
						</div>
						<!-- /.col -->
						<div class="col-xs-12 col-sm-4 widget-container-col">
							<!-- /.col -->
							<div class="widget-box widget-color-orange">
								<div class="widget-header">
									<h2 class="widget-title" style="color: white">SELAMAT !!</h2>
									<div class="widget-toolbar"></div>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<p style="text-align: center;">
											<img th:src="@{/assets/imgcust/crown1.png}">
										</p>
										<p class="alert alert-success">
											<b>Anda berhasil mencapai posisi ke-397</b> <br>"Pertahankan
											dan semangat".
										</p>
									</div>

									<div class="widget-toolbox padding-8 clearfix"></div>
								</div>
							</div>

							<div class="hr hr12 dotted"></div>
							<div class="infobox infobox-blue infobox-dark"
								style="width: 100%">
								<span class="bigger-225 white"  th:text="${strDay}"></span> <br />
								<span class="bigger-100 white" th:text="${strMon}"></span> <br />
							</div>
							
							<br>
							<br>
							<div class="clearfix">
								<div class="grid2">
									<span class="bigger-175 blue" th:text="${strDate}"></span> <br /> Tanggal
								</div>

								<div class="grid2">
									<span class="bigger-175 blue" th:text="${strYear}"></span> <br /> Tahun
								</div>
							</div>
							<div class="hr hr12 dotted"></div>

							<div class="space-10"></div>
							<div  th:each="listUserActivityLeft : ${listUserActivityLefts}">
								<label class="inline">
									<span class="red bolder" th:text="${listUserActivityLeft.reminder}"></span>
									<br> 
									<b>Nama Customer : </b><span class="lbl" th:text="${listUserActivityLeft.nama_cpi}"></span>
									<br/>
									<b>Nama Produk : </b><span class="lbl" th:text="${listUserActivityLeft.product_name}"></span>
								</label>
								<br>
								<a class="btn btn-warning btn-xs btn-block" th:href="@{'/customer-update-status/' + ${listUserActivityLeft.customerResponseId}}">
								Submit</a>
								<div class="space-10"></div>
							</div>
							<div class="pull-center" th:if="${listUserActivityLeft} == null">
								<span class="blue bolder"></span>(Tidak ada
								reminder)
							</div>

							
							<div class="timeline-container">
		
								<div class="timeline-items">
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-info no-hover"></i>
										</div>
		
										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Rabu</h5>
		
												<span class="widget-toolbar">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													14 Maret 2017 - 13:59 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<div class="clearfix">
														<div class="pull-left">
															<b>Produk</b> <span class="green bolder">"Mandiri Online"</span>.
															<br />
															<b>Tanggapan</b> <span class="Red bolder">"Ya"</span>.
															<br />
															<b>oleh</b> <span class="Warning bolder">"Mahading"</span>.
															<br />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-info no-hover"></i>
										</div>
		
										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Kamis</h5>
		
												<span class="widget-toolbar">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													15 Maret 2017 - 09:17 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<div class="clearfix">
														<div class="pull-left">
															<b>Produk</b> <span class="green bolder">"Reksadana"</span>.
															<br />
															<b>Tanggapan</b> <span class="Red bolder">"To Be Follow Up"</span>.
															<br />
															<b>oleh</b> <span class="Warning bolder">"Guntur"</span>.
															<br />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-info no-hover"></i>
										</div>
		
										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Jum'at</h5>
		
												<span class="widget-toolbar">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													16 Maret 2017 - 11:00 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<div class="clearfix">
														<div class="pull-left">
															<b>Produk</b> <span class="green bolder">"Tabungan Mikro"</span>.
															<br />
															<b>Tanggapan</b> <span class="Red bolder">"Tidak"</span>.
															<br />
															<b>oleh</b> <span class="Warning bolder">"Sumanto"</span>.
															<br />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
		
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-primary no-hover"></i>
										</div>
		
										<div class="widget-box widget-color-blue">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Rabu</h5>
		
												<span class="widget-toolbar no-border">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													14 Maret 2017 - 13:59 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<b>Produk</b> <span class="green bolder">"Mandiri PowerCash"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"Tidak"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Elsa"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-primary no-hover"></i>
										</div>
		
										<div class="widget-box widget-color-blue">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Kamis</h5>
		
												<span class="widget-toolbar no-border">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													15 Maret 2017 - 10:45 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<b>Produk</b> <span class="green bolder">"Tabungan Inventaris"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"Ya"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Elsa"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<i class="timeline-indicator ace-icon fa fa-clock-o btn btn-primary no-hover"></i>
										</div>
		
										<div class="widget-box widget-color-blue">
											<div class="widget-header widget-header-small">
												<h5 class="widget-title smaller">Jum'at</h5>
		
												<span class="widget-toolbar no-border">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													16 Maret 2017 - 13:59 
												</span>
											</div>
		
											<div class="widget-body">
												<div class="widget-main">
													<b>Produk</b> <span class="green bolder">"Upgrade Debit Card"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"To Be Follow Up"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Guntur"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
									<div class="dialogs">
										<div class="itemdiv dialogdiv">
											<div class="user">
												<i class="timeline-indicator ace-icon fa fa-user btn btn-primary no-hover"></i>
											</div>

											<div class="body">
												<div class="time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span class="green">16 Maret 2017 - 13:59 </span>
												</div>

												<div class="name">
													<span class="label label-info arrowed arrowed-in-right">Senin</span>
												</div>
												<div class="hr hr12 dotted"></div>
												<div class="text">
													<b>Produk</b> <span class="green bolder">"Upgrade Debit Card"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"To Be Follow Up"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Guntur"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
									<div class="dialogs">
										<div class="itemdiv dialogdiv">
											<div class="user">
												<i class="timeline-indicator ace-icon fa fa-user btn btn-primary no-hover"></i>
											</div>

											<div class="body">
												<div class="time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span class="green">17 Maret 2017 - 09:59 </span>
												</div>

												<div class="name">
													<span class="label label-success label-sm arrowed-in">Selasa</span>
												</div>
												<div class="hr hr12 dotted"></div>
												<div class="text">
													<b>Produk</b> <span class="green bolder">"Reksadana"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"To Be Follow Up"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Guntur"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
									<div class="dialogs">
										<div class="itemdiv dialogdiv">
											<div class="user">
												<i class="timeline-indicator ace-icon fa fa-user btn btn-primary no-hover"></i>
											</div>

											<div class="body">
												<div class="time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span class="green">18 Maret 2017 - 10:12 </span>
												</div>

												<div class="name">
													<span class="label label-danger arrowed">Rabu</span>
												</div>
												<div class="hr hr12 dotted"></div>
												<div class="text">
													<b>Produk</b> <span class="green bolder">"Tabungan Mikro"</span>.
													<br />
													<b>Tanggapan</b> <span class="Red bolder">"Tidak"</span>.
													<br />
													<b>oleh</b> <span class="Warning bolder">"Sumanto"</span>.
													<br />
												</div>
											</div>
										</div>
									</div>
									
								</div><!-- /.timeline-items -->
							</div><!-- /.timeline-container -->
							
							
						</div>
					</div>

					<div class="space"></div>
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	
		<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
	</div>
	<!-- /.main-container -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery
				|| document.write("<script src='assets/js/jquery.min.js'>"
						+ "<"+"/script>");
	
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			
			}
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
		</script>
	<![endif]-->
	<script type="text/javascript">
		$('.kategori_hidden').hide();
		function resetKategori(){
			$('#flag_nik').attr('selected', false);
			$('#flag_phone').attr('selected', false);
			$('#flag_cif').attr('selected', false);
			$('#flag_name').attr('selected', false);
			$('#flag_norek').attr('selected', false);
			$('#flag_nokar').attr('selected', false);
		}
		
		$('.btn_nik').click(function(){
			resetKategori();
			$('#flag_nik').attr('selected', true);
		});
		
		$('.btn_phone').click(function(){
			resetKategori();
			$('#flag_phone').attr('selected', true);
		});
		
		$('.btn_cif').click(function(){
			resetKategori();
			$('#flag_cif').attr('selected', true);
		});
		
		$('.btn_name').click(function(){
			resetKategori();
			$('#flag_name').attr('selected', true);
		});
		
		$('.btn_norek').click(function(){
			resetKategori();
			$('#flag_norek').attr('selected', true);
		});
		
		$('.btn_nokar').click(function(){
			resetKategori();
			$('#flag_nokar').attr('selected', true);
		});
	</script>
	
	
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document
					.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>"
							+ "<"+"/script>");
	</script>
	
	<script type="text/javascript">
		jQuery(function($) {
			$('[data-toggle="buttons"] .btn').on('click', function(e) {
				var target = $(this).find('input[type=radio]');
				var which = parseInt(target.val());
				$('[id*="timeline-"]').addClass('hide');
				$('#timeline-' + which).removeClass('hide');
			});
		});
	</script>
</body>
</html>